<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @musician.name %>
</p>

<p>
  <b>Email:</b>
  <%= @musician.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @musician.bio %>
</p>

<p>
  <% if @musician.location_id? %>
    <b>Where I jam:</b>
    <%= @musician.location.full_address %> 
    <br>
    <%= link_to 'I jam elsewhere now', edit_location_path(@musician.location_id) %> |
    <%= link_to "I'm currently homeless", 
    location_path(@musician.location_id),  method: :delete %>
  <% else %>
    <b>Add a location:</b>
    <%= link_to 'Where I jam', new_location_path %>
  <% end %>
</p>

<p>
  <b>Bands I belong to:</b>
  <ul>
    <% @musician.bands.each do |band| %>
      <li><%= link_to band.name, band %></li>
    <% end %>
    <li><%= link_to 'Add New Band', new_band_path %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
