<p id="notice"><%= notice %></p>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F38707026"></iframe>
# create a client object with your app credentials
<%= client = Soundcloud.new(:client_id => 'd276b5f3aa390cae2ebfbc0c52f1f58d') %>

# get a tracks oembed data
<% track_url = 'http://soundcloud.com/forss/flickermood' %>
<% embed_info = client.get('/oembed', :url => track_url) %>

# print the html for the player widget
<% puts embed_info['html'] %>


<p>
  <b>Name:</b>
  <%= @musician.name %>
</p>

<p>
  <b>Email:</b>
  <%= @musician.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @musician.bio %>
</p>

<p>
  <b>Bands I belong to:</b>
  <ul>
    <% @musician.bands.each do |band| %>
      <li><%= link_to band.name, band %></li>
    <% end %>
    <li><%= link_to 'Add New Band', new_band_path %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
