  <div class="field">
    <%= f.label :inviter_id %><br />
    <%= f.text_field :inviter_id %>
  </div>
  <div class="field">
    <%= f.label :invitee_id %><br />
    <%= f.text_field :invitee_id %>
  </div>
  <div class="field">
    <%= f.label :band_id %><br />
    <%= f.text_field :band_id %>
  </div>
