<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'form_fields', :locals => { :f => f } %>

  <%= render :partial => 'form_actions', :locals => { :f => f } %>

  <%= render :partial => 'form_submit', :locals => { :f => f } %>

<% end %>